/* core style */
body {
    margin: 0;
    background: #333;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.skoop {
    padding-top: 5px;
    display: block;
    color: rgb(252, 155, 171);
}

.skoop::first-letter {
    font-size: 35px;
}


/* header showcase */

#showcase {
   min-height: 450px;
   color: #fff;
   text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('images/dog2.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

button {
    position: fixed;
    left: 0;
    padding: 5px 20px;
    background: none;
    color: pink;
    border: 5px solid white;
    font-weight: 900;
    border-radius: 5%;
    font-size: 15px;
}

button:hover {
    background: none;
    color: white;
    font-size: 20px;
}

#showcase h1 {
    font-size: 50px;
    padding-top: 120px;
    padding-bottom: 10px;
    font-family: fantasy,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 span {
    display: block;
    color: pink;
    line-height: 1.2em;
}

span::first-letter {
    font-size: 80px; 
    vertical-align: bottom;
}

#showcase .content-wrap {
    padding: 0 1.5em;
}

#showcase p {
    padding-bottom: 2em;
}

/* section-a */

#section-a {
    padding: 2em;
    background: green;
    text-align: center;
}

#section-a p {
    text-align: center;
}

/* section-b */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: rgb(255, 255, 255);
    color: #333;
}

#section-b img :nth-child(2) {
    width: 200px;
    height: auto;
}

.card-content {
    color: rgb(112, 112, 255);
    padding: 1.5em;
}

/* section-c */

#section-c {
    background: green;
    color: #fff;
    padding: 2em;
}

/*section-d */

#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child {
    background: #2690d4;
}

/* footer */

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a {
    text-decoration: none;
    color: #2690d4;
}

@media(min-width: 700px) {
    header {
        overflow-y: hidden;
    }
    #showcase {
        position: relative;
    }
    #showcase .bg-image {
        position: absolute;
        padding-top: 300px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        grid-column: span 2;
    }

    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap, #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }

    #section-b img {
        height: 200px;
        width: 100%;
    }

    button {
        margin: 50px 50px;
        font-size: 30px;
    }

    button:hover {
        font-size: 40px;
        color: white;
        background: none;
    }
}
